
/* колір основного тексту #212121 */
/* додатковий колір сірий #757575 */
/* колір лого синій #2196F3 чорний #000000 */
/* акцент і емейл #2196F3 */
/* білий колір */
/* Боді білий #F5F5F5 */
/* Другий колір фона світло сірий #F5F4FA */
/* focus колір #2196F3  */

:root {
    --background-color: #FFFFFF;
    --color-logo-black: #000000;
    --primary-color-text: #212121;
    --accent-color: #2196F3;
    --button-color-active: #188CE8;
    --second-color: #757575;
    --white-color-text: #FFFFFF;
    --backgraund-color-button: #F5F4FA;
    --background-hero: #2F303A;
    --background-our-team: #F5F4FA;
    --addres-footer: rgba(255, 255, 255, 0.6);
}


/* Боді */

body {
    background-color: var(--background-color);
    color: var(--primary-color-text);
    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
p,
ul,
li {
    margin: 0px;
    padding: 0px;
}


.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}


/* Лого */

.logo {
    color: var(--color-logo-black);
    font-family: Raleway, sans-serif;
    text-decoration: none;

    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.logo-blue {
    color: var(--accent-color);
}


/* Сайт nav */

.container {
    background-color: var(--background-color);
    width: 1170px;
    margin: 0 auto;
    margin-left: 15px;
    margin-right: 15px;
    outline: 2px solid tomato;
}

.site-nav .list {
    list-style: none;
}

.site-nav .menu {
    background-color: var(--white-color-text);
    color: var(--primary-color-text);
    text-decoration: none;

    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.site-nav .menu:focus,
.site-nav .menu:hover {
    color: var(--accent-color);
}

.site-nav .menu.current {
    color: var(--accent-color);
}

.contact .list {
    list-style: none;
}

.contact .link {
    background-color: var(--white-color-text);
    color: var(--second-color);
    text-decoration: none;

    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.02em;
}

.contact .link:focus,
.contact .link:hover {
    color: var(--accent-color);
}

/* index.html */

/* Герой */

.hero {
    background-color: var(--background-hero);
    text-align: center;

    outline: 2px solid tomato;
}

.hero .container {
    padding-top: 200px;
    padding-bottom: 200px;
}

.hero .container {
    background-color: var(--background-hero);
}

.hero .main-title {
    text-transform: uppercase;
    color: var(--white-color-text);

    font-size: 44px;
    font-weight: 900;
    line-height: 1.36;
    letter-spacing: 0.06em;

    margin-bottom: 30px;
}

/* Button */

.hero .order {
    background-color: var(--accent-color);
    color: var(--white-color-text);
    border: none;
    font-family: inherit;
    cursor: pointer;

    border-radius: 4px;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.88;
    letter-spacing: 0.06em;

    display: inline-block;
    padding: 10px 32px;
    min-width: 216px;
    min-height: 50px;
}

.hero .order:hover,
.hero .order:focus {
    background-color: var(--button-color-active);
    color: var(--white-color-text);
}

/* Секція feature-list */

.feature-list,
.section-work,
.our-team,
.projects {
    padding-bottom: 94px;
}

.feature-list,
.our-team {
    padding-top: 94px;
}


.feature-list .list {
    list-style: none;
}

.feature-list .feature-title  {
    text-transform: uppercase;

    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;

    margin-bottom: 10px;
}

.feature-list .text {
    color: var(--second-color);

    font-size: 14px;
    line-height: 1.71;

}

/* Секція section-work */

.section-work .list {
    list-style: none;
}

/*  h2 для section-work і our-team */

.section-work .title,
.our-team .title {
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.16;
    margin-bottom: 50px;
}


/* Секція our-team*/

.our-team,
.our-team .container {
    background-color: var(--background-our-team);
}

.our-team .list {
    list-style: none;
    background-color: var(--background-color);
}

.our-team .team {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.18;

    margin-bottom: 10px;
}

.our-team .team-profession {
    color: var(--second-color);

    font-size: 16px;
    line-height: 1.18;

    padding-bottom: 30px;
}

.our-team .image {
    margin-bottom: 30px;
}


/* Футер */

.footer-bottom {
    background-color: var(--background-hero);
}

.footer-bottom .logo {
    color: var(--white-color-text);
}

.address-company .list {
    list-style: none;
}

.address-company .link {
    text-decoration: none;
    color: var(--addres-footer);

    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.address-company .map {
    color: var(--white-color-text);
}

.address-company .link:hover,
.address-company .link:focus {
    color: var(--accent-color);
}

/*  */
/* portfolio.html */
/*  */

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

.projects .button {
    cursor: pointer;
    font-family: inherit;
    color: var(--primary-color-text);
    background-color: var(--backgraund-color-button);
    border-radius: 4px;
    border: none;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.62;
    letter-spacing: 0.03em;

    padding: 6px 22px;
}

.projects .button.all {
    padding: 6px 25px;
}

.projects .button:focus,
.projects .button:hover {
    background-color: var(--accent-color);
    color: var(--white-color-text);
}


.projects .name-project {
    color: var(--primary-color-text);

    font-size: 18px;
    font-weight: 700;
    line-height: 2;
    letter-spacing: 0.06em;

    margin-bottom: 4px;
}

.projects .type-project {
    color: var(--second-color);

    font-size: 16px;
    line-height: 1.87;

    padding-bottom: 20px;
}

.projects .list {
    margin-bottom: 34px;
}

.projects .image {
    margin-bottom: 20px;
}